@font-face {
  font-family: KrakenOverrides;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAATUAAsAAAAAB7AAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPQAAAFY7SEfiY21hcAAAAYQAAABWAAABjPIwmupnbHlmAAAB3AAAAPMAAAFkg8Db/WhlYWQAAALQAAAALQAAADYqnymRaGhlYQAAAwAAAAAWAAAAJADJAGlobXR4AAADGAAAAA4AAAAQASwAAGxvY2EAAAMoAAAACgAAAAoAsgBabWF4cAAAAzQAAAAeAAAAIAESAEluYW1lAAADVAAAAT8AAAJqXex7cXBvc3QAAASUAAAAPwAAAFTGkH34eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGTwZpzAwMrAwGDP4AYk+aC0AQMLgyQDAxMDKzMDVhCQ5prC4PCR8SMzQwqQywkmGRgYQQQABiwGqQAAAHic7ZCxDYBADAMv70CBmIOKkkmo2H8DJvhP8oxBpHNkK0phYAEUnIGDPRg5d6RWudgqd4668cxf9R5qqeG9tOUnW/lnL70+p2xqUt21Cbk1QQOkHw2dAAB4nEXPT0+DUAwA8LYPWjYI7DH0LYtyYGZoTIjyRw4zu3n27tHv/yFsQeNL+pI2bforRGDvC77hHh7gFd4B5qajaahu+7fx/IxB2jnI0NdU5dTenCaZ5tB0OF6xr7HKsdW+DhuuauyTYiupP3ifIXNZMqNVZFsUwhyimCiW2LnYESE5DeY032TeB89S7sVSn6c8HPeOo6PjhN3yxZE4sjDtv/kOnuAFLmpW5UkNilZ6TnrCeKULqn1VWo6y6IewYo39YUbdf/CpKncrNlF84swpJs6UJbs/8WcprFyfbdT5y2V5NGWEi9XsOm1gLQH8ANo/GA0AeJxjYGRgYABiUQGx7fH8Nl8ZuBlSgCIMT/tKnyPTQNEkIMnBwATiAAAM9wlxAAAAeJxjYGRgYEhhYEAiGRlQAQsAHagBMwAAeJxjYACCFAQGAAhEAS0AAAAAAAAAAABaALIAAHicY2BkYGBgYbAFYhBgAmIuIGRg+A/mMwAADwcBXAAAeJyFkU1qwzAQhZ/zVxpDWyh0GbRpKRScH7rKprtkEWggi+ydWHZ+HMvIiiGbnqAn6Ql6gh6hJ+kB+qxq5UWjAembN29GAgG4wRc8VMvDtd2r1cAFsz9uku4ct8j3jtvw8ey4Q/3FcRdPeHXs4xYnTvBal1R6eHfcwBU+HDepfzpukb8dt3nrj+MOel7XcRdL79GxjwfvbabDvczmpdR6G8liIZNjGuqaWkuXUhdblYlhMKhVpjKTOjQyEquTKMpkZEwsYq0OYqIyI9NUiVyrnVybYGNMPu73Y6cHa3XADBoh9pDIMEfJUzO2iEgFFtwTHJHSo894/68ubV4wV6wLDBFgcKZnanVpPYZnxL4V/0ewVvJdI6oGMfOYHoUDaWLnV+6UoajktrajsqYeYGO7cozRZ8Q1f0AXJ/0C0cN00AB4nGNgYoAARgbsgIWRiZGZkYWRlYE7PSO/uEQ3PaeyIIO7ODuzICkxOVvX0IAPxE7LLypPLEoBchkYADY0DcQA) format("woff");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-ghost-glyph {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-ghost-glyph:before {
    content: "\f101"; }

.vjs-icon-skipback-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-skipback-10:before {
    content: "\f102"; }

.vjs-icon-skipforward-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-skipforward-10:before {
    content: "\f103"; }
