@font-face {
  font-family: KrakenOverrides;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAARoAAsAAAAAB0QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPAAAAFY6l0c+Y21hcAAAAYAAAABRAAABfrVI9apnbHlmAAAB1AAAAKoAAAEgS0hCnWhlYWQAAAKAAAAALgAAADYqXmNRaGhlYQAAArAAAAAYAAAAJABZADRobXR4AAACyAAAAAwAAAAMAGAAAGxvY2EAAALUAAAACAAAAAgARgCQbWF4cAAAAtwAAAAfAAAAIAERAD1uYW1lAAAC/AAAAT8AAAJqXex7cXBvc3QAAAQ8AAAAKgAAAECXwNySeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGRQYJzAwMrAwCDHoAgk2aC0OAMTAw8DkGBlZsAKAtJcUxgcPjJ+ZGIwAHJZwCQDAyOIAADAcAVUeJztkLENgDAMBM+OoUCMQUHBMFTsvwITJG+HMXjpTvqXKwML0MQlAuzByNxarfbGVntw1E3k/nrvsqXVo+zSyp+9fH7N80+T+bkJPgDn9guZAAAAeJxlzsEKgzAMBuCkrU3owZNad3FgYW4X2dTSm+//WEsrsoEpJIf+8H9gIM8TZuhhKBdSJB+XAZsaxxljaAZcdtxmpBApJt+0FKaYVk/bZyLfO6et1tZabQwzy7JKGUaNqBTKe7BzXAISNHykOpLvKkfyQqwQfpYb3OEFb7Ec5YIomG3HtU1TO9boL5ggmMgH4WxzTvrqP46M6orBnOqsM+wunsz5Aq5mEGgAAHicY2BkYGAA4qSl6anx/DZfGbgZDIAiDE97hH4j0wwaDHpAkoOBCcQBABlkCQwAAHicY2BkYGAwYGCAkxoMjAyogBkADdMAjgAAAAAAMAAAADAAAAAAAAAARgCQeJxjYGRgYGBmMGRgYQABJiDmAkIGhv9gPgMADcABTwB4nIWRTWrDMBCFn/NXGkNbKHQZtGkpFJwfusqmu2QRaCCL7J1Ydn4cy8iKIZueoCfpCXqCHqEn6QH6rGrlRaMB6Zs3b0YCAbjBFzxUy8O13avVwAWzP26S7hy3yPeO2/Dx7LhD/cVxF094dezjFidO8FqXVHp4d9zAFT4cN6l/Om6Rvx23eeuP4w56XtdxF0vv0bGPB+9tpsO9zOal1HobyWIhk2Ma6ppaS5dSF1uViWEwqFWmMpM6NDISq5MoymRkTCxirQ5iojIj01SJXKudXJtgY0w+7vdjpwdrdcAMGiH2kMgwR8lTM7aISAUW3BMckdKjz3j/ry5tXjBXrAsMEWBwpmdqdWk9hmfEvhX/R7BW8l0jqgYx85gehQNpYudX7pShqOS2tqOyph5gY7tyjNFnxDV/QBcn/QLRw3TQAHicY2BiwA+YGZkYmRlZGDiLUgtyEit1DQ240vKLyhOLUoBMBgYAWpUGwwAA) format("woff");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-replay-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-10:before {
    content: "\f101"; }

.vjs-icon-forward-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-10:before {
    content: "\f102"; }
