@font-face {
  font-family: KrakenOverrides;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAWIAAsAAAAACQQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPQAAAFY7SEfsY21hcAAAAYQAAABgAAABqPI5XzVnbHlmAAAB5AAAAYEAAAJ4iGhlRGhlYWQAAANoAAAALQAAADYqrvJFaGhlYQAAA5gAAAAWAAAAJADJAGtobXR4AAADsAAAAA4AAAAYAfQAAGxvY2EAAAPAAAAADgAAAA4B7gFMbWF4cAAAA9AAAAAfAAAAIAEVAEluYW1lAAAD8AAAAT8AAAJqXex7cXBvc3QAAAUwAAAAVQAAAGyNmz3FeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGQIZpzAwMrAwGDP4AYk+aC0AQMLgyQDAxMDKzMDVhCQ5prC4PCR8SMrQwqQywkmGRgYQQQACOoGswAAAHic7ZGxDcRACAQHHzh4fSUvl+LYkfvPr4IzC1+GkWYRK0SwAAGM5Egc7MZQXela+YNP+c6vdlz+jLVSTZqzl26567poO299S8//FEqrqfy2BvXR6A/TGyU6oyEebU8RsXicZc9NbxoxEAbgGX/MeHfNghc2S6OyldgIWrVCLV6CRBIuVdUDh156QD1V/f8/omNICFUtjTUe2Xofg4G0fsEfmMEdfIFHgO18pTZxcrO+7xcfseHltuG4btWkVMu62/Bm28xX2O9x3eKkxKXcW+GcJi2u3TDnIkxD8EhUVUSYJpwPh0zUGKuUZau11Uqh0lJERZn5EJpAXI05HUNZULwdazK3mhzp02YNa5UqaV/Nb+EDfIYHMYuyE4OghV4q+UK/Vw8o9rMynZFP+ticsYn9LRklfxoKUY7OWCd4p5OTk9gLi0cv4h8Vk3CDz8T5zCV+n5QGT9Zkl9cJLKOL9zccYQxTmMMn8Qp2hnET666ON/dP2C86rmO/WNbilWaFr93xYGx2aFttrf45cJYycm7g8ip3vj5a4/3OoTU7Y/becshsTq50I5eHYlB7AHvJN1BCDe8giuDftG1Xt9jE68H/QnMJ/7rzY9MczoTvV743V4IZm2owe2a01074C6/PMHYAAAB4nGNgZGBgAOLKnLiV8fw2Xxm4GVKAIgxPp0U5ItNA0SQgycHABOIAABfNCPkAAAB4nGNgZGBgSGFgQCIZGVABGwAdqgE1AAB4nGNgAIIUTAwAFZQB9QAAAAAAAAAAAFoAsgDyATwAAHicY2BkYGBgY7BlYGUAASYg5gJCBob/YD4DAA9UAV8AeJyFkU1qwzAQhZ/zVxpDWyh0GbRpKRScH7rKprtkEWggi+ydWHZ+HMvIiiGbnqAn6Ql6gh6hJ+kB+qxq5UWjAembN29GAgG4wRc8VMvDtd2r1cAFsz9uku4ct8j3jtvw8ey4Q/3FcRdPeHXs4xYnTvBal1R6eHfcwBU+HDepfzpukb8dt3nrj+MOel7XcRdL79GxjwfvbabDvczmpdR6G8liIZNjGuqaWkuXUhdblYlhMKhVpjKTOjQyEquTKMpkZEwsYq0OYqIyI9NUiVyrnVybYGNMPu73Y6cHa3XADBoh9pDIMEfJUzO2iEgFFtwTHJHSo894/68ubV4wV6wLDBFgcKZnanVpPYZnxL4V/0ewVvJdI6oGMfOYHoUDaWLnV+6UoajktrajsqYeYGO7cozRZ8Q1f0AXJ/0C0cN00AB4nGNgYoAARgbsgI2RiZGZkYWRlZGNkZ2BOz0jv7hENz2nsiCDuzg7syApMTlb19CAD8ROyy8qTyxKAXJZkhOLS/hAhG5yfl5eanJJagoDAwCkIxUdAAAA) format("woff");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-ghost-glyph {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-ghost-glyph:before {
    content: "\f101"; }

.vjs-icon-skipback-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-skipback-10:before {
    content: "\f102"; }

.vjs-icon-skipforward-10 {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-skipforward-10:before {
    content: "\f103"; }

.vjs-icon-cast {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-cast:before {
    content: "\f104"; }

.vjs-icon-cast-connected {
  font-family: KrakenOverrides;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-cast-connected:before {
    content: "\f105"; }
