@font-face {
  font-family: VideoJS;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAABXwAAsAAAAAKiQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPgAAAFZRiV32Y21hcAAAAYQAAAEJAAAD5p42+VxnbHlmAAACkAAAD9gAAB64wwIjLGhlYWQAABJoAAAAKwAAADYyxPxbaGhlYQAAEpQAAAAdAAAAJA+RCL1obXR4AAAStAAAABcAAAC8Q2YAAGxvY2EAABLMAAAAYAAAAGCYyqEubWF4cAAAEywAAAAfAAAAIAFAAPxuYW1lAAATTAAAASUAAAIK1cf1oHBvc3QAABR0AAABfAAAAnXdFqh1eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGR7yDiBgZWBgaWQ5RkDA8MvCM0cwxDOeI6BgYmBlZkBKwhIc01hcPjI+FGPHcRdyA4RZgQRADaGCyYAAHic7dPXbcMwAEXRK1vuvffem749XAbKV3bjBA6fXsaIgMMLEWoQJaAEFKNnlELyQ4K27zib5PNF6vl8yld+TKr5kH0+cUw0xv00Hwvx2DResUyFKrV4XoMmLdp06NKjz4AhI8ZMmDJjzoIlK9Zs2LJjz4EjJ85cuHLjziPe/0UWL17mf2tqKLz/9jK9f8tXpGCoRdPKhtS0RqFkWvVQNtSKoVYNtWaoddPXEBqG2jQ9XWgZattQO4baNdSeofYNdWCoQ0MdGerYUCeGOjXUmaHODXVhqEtDXRnq2lA3hro11J2h7g31YKhHQz0Z6tlQL4Z6NdSbod4N9WGoT9MfHF6GmhnZLxyDcRMAAAB4nMVZDXQT15We+968GcmSJcvSSBgbWbLA8g/YRtJIAf8JjCHBSU0MNiHmJ07s2I6zC2HLX9iAQxJSMGvoUrmGJqXbNmkD7emmuws9sMlxc86mTbs45GwgSbck2k17TgINTRtCgm1N9r6R/EOAHJOkW400837u3Hffvd+9774nAQT8sB7WIxBBABuQRhpmPcPniEkQKO+TuqQu7MsWQoJgJPY82QKylOFyg8vpiVRBJJzhLwF/Ps3THyG9KaB3O3RSch4GtGisv2fn4Jzy8jmDO3ugbLzcv2Vt19OzSktnPd219s/jRVIGS/D6lk6jnbrq3aGBT7+RLAp8FjifKM6HCjLOyGsrBJvXBgNQrJ0mjVAMG0Tn8DnRiWSiPj+v5EFKl+AXipA+5M/3K65wxCG7wmqIz0nhcwEZOXlRP5KshCOuCMgu8VQo0PgzeqLwgdtqay7E7j9cOnv4X9dAi3aIDwJVS1YcePDAmsRdTzxBu1salhQ99bMpU+65+4F//P6Tex5/Lu+gZ39bJ5m5RjukRbUeuKS9UJl90Nfav0bse+IJFEu3i3iEnREYtwsfmpigCDZqu8W7+CviYa1HGJ3vvUhnECwp+W3hSDj5CmsLBZYtC4RGMrhMWk9SksTTRUsaYN4Yl6SdPZIVx7IIeYJgT748yosqY+ZURi0eTzIk/4FKaAyETvDpzy49fH/sQk0tqmNcxvjYiOR9fdLvdLbt9xzMe+7xPTAXNTFqBx2DTDAJNrSFAD6bV/XRoBpUveBTvDYfVYJK0EZMfbAx3tcX13bT7jhs7IvH+8h5bXcfSYv3jXRjJ/lOH7Zfkydn4LXr3EDnbFf5MLAh3qftjnNuMMA593E2jVjHKmwcPhfHdt6sq2nMJwxCuqAIbsEnzETPgHxfnizJMAMRA8wLqDY1xBAukuJweRkqEILgDAYi4QiQ56G1YcmjWzfeA5m0N/jeIe0C+X3iFDy4KqiOZGpn8WElZYnfYQ9kbtbOLq3ntNoF+j7psM8qvl3zb/reUIXmr0v83b3bH91bVwcf68/FddgMb2gGTgRvcORwWREbdpx/tpCLsqJH5FlAsTncEPQGqkC1hUoAvIoXvKqX4Y9f7PRwU2FtQUFtoXhYfw7PgiLtDDmXcJJz6M5noIiX2OmCBYUj3YULCvBJ+TNxJKadjsVifTE+dApX+vjFQs11xvapPgWtoTikYsjLx7ZwOQScCrteOwanAi5TgejUn4kd62KxdcW58dyZM/FWTEy8rhf1xmtIeWlGfMZiTg5F/L74ymoqLngkL8qdKxQKsz5Dcp8NUaWWgxdFszkknzcSVH3XlHEdfvuSI2hnUETJg11X0I10x2IwcOIEJ8iduS4+jjePeEmPZybBqttSsOMottSPW87Gf4pXjcf0DxSLyvD55I+qfRh/YSCmRXmBNMZiY3w3SpvR4104S79QKkQEYUYJIWqGMEORhAwBw1zEZQvaIi5Q0e9dFrAjulXEst2P9aAFKNYjWKdl+z4+1g6PwvR3tEEoe2eJ9tiqszv+e5X2WsOB+R3LB3++8EDDuv9c0dkWqjLtS19Wml4Rum9hg2lP+sMnQf4Gesyz7t487XtaifZd73uwZdVv4WPN8NtVCXOvKRpqX9QkvhqYn95raqodPtVWg6xOwpmlB+ff03RyrTAWA8+xS+iRGNd1tKCn4w8NYhybw/7Abdvp69vrQpqiPd781ra3msFZFwKPFue/UB1UwKbmN8lPEre/2Zzi+Qd2DvVuRJ6qV0FORnTjvxWnJ4Ja/UpoJCfvhCkPPwwN8Owd2mGsjWG+XqpP+ZxgB9kv5fu8KaFwIeFcZD+1+W3HWP+ynxIgI/VctIg2XKs9XqtliXOa9zQv3SbVD3U0PEtISkZWA5tq4R2tdOU/rCLLEx89DF8bXSdwDbtfmM1njhEoHPIDwhRRihjlqHW4oAR8WOLoDWD8wZDkhmQ/ixbVuRN/kGViddcXV7ZXVLQ/2F4hJ/40WqssrncTh1TeurG1vLyV1LtzIJIdyIbQNI9OihRZ2drJnGTNk6P9KmtKeevcuZx+zDbSCoyXNcISlBClwxTBj8CxQn4pF8ybJ1kxTvrzJZlKzlyQHC5caVx2N1QDVnWPC1djQHU5wxF7ON/P8kogVAUBNzgswI4w9u00Se6Tp5qPV8zPoYpFO2NRSM6CucfTp8oxmZmeZOxJE8Pi1PTj5TU5RLFA0ZUUiZsWbV64cHMvv9FIUVXRVmO2GajZyOpKsl+0ZGZaXsyZVceMZi1hzjZuTRFg5SoCfCnbOC/FCm8pHJ1JxeBrxhGK3suiV0QoPWLR7qtD1/B52p2yOV+DpiC+HFflYh498YpdlWylEinafZ1kbNxeSd46om4037su9+ukelLXDSd59AoZqz6PlHaEzhiMUOTdO1/mg7+8czeUjZevI3J7Cvl449IjoXbqKgbXk540jnpZRfun9D39M2Zil43gT0Wg66r4bKd2UbvYCSbtw04wg7lT+/D66h0xXkEIJnx5VB6Pnt/YOF4x7GHCFMRFxohB0OYjJkwBMJfGZIvnA9ppKKbdfeKHPCEsjmPWF41rp7XTcRhI4pSdkY7i6oI5rBFsAZeTWwCzojzMLfNVXxK8AX2ioaTJujEd3vBgx73llZXl93Zc5IVY6aynutZeXNv1FFclFlkP5iM9SFjEaT7obKuorKxo69wywV4fIHVJ6aj/6TJsvAEpIkHFJwfCeEV43uHCSIQvKQ4MVTxaSb68Uh6/+FcNOjjDYPJ9NYRfHtg462K0ZZ6VJOe0ZVTMP/NC7NPw+I39X7YbiCjKIpVEq91pNzETlSWg+HS5M9MV2WyVMyRqjDJiMNmtFC1hEEVK05gIot0qMrwMEzTDR0LtVVWhirhmUB2lJU8lxywpTbT/k1ojikAQbQaryW01O2WT1ZAhyYzgkGkOg2JOMzDZRImByCbRKlplZkijhIiEyKJhLG9P6rZEaBJ23IB+faqsRoJMp9Ipk7r051dCCHNk/QrkQkrt/lCyO49n2Raq4GvTwJHsDuiapyq+pk5K0b+OLt5hgEpZspmcBrOc55LsFjGDymMNTjnZUEEpoUQ2mqlVJCaG8xZx+lRKQ22g9hkDMml1j/zqA2eo7Hm3OyvDZGUAjDCFudLd7puubpKzTSYjoWhcMDALo2kZxoVXN12p/wPCz4X3Jq9/0HciiNQS4ked4teCQMB3FB/qEVdb/AZ1Phz0yMpCOOw5GyVlM3wLuSdxji6gWwrTipQf4NoW4r0+7gTqX8XO2qk8h81AAESRyAbRJEqSaAYD0GqZZcpWEwLc6nZYMkUDWpYihWwwWDMNVlnMTM9yW6fmSEYm2ikjEAVCRfQ6A3cDdDsklKmRGtJwo/cM+o95HDZWUZbljDFgWSniqHocNiKYRQZUTAIryY4Da/Ju+5iJGSWLJDEUQwSG3skwXlhcFjOGC8JkZrGbnBgNgBnkNIJSS+kmR5bdabKbUTLKcO1jBpNslSRKGQUJESUSg8VstcoUBZl1DTx+AYhOiL8FwibE50QoIjDHQKqDIcjRm1wB2ZcagKF4AjhiY5DR1wx+jJFcN+DilxKCqTrBalu2jNpSHxG3zhtwwDOlJSjOv3/BCCxO0G2psFx45Ab0C3+ZADxJRX9SXfeIzEPwBNehGZ/tOpRc23UmrW7tB19+CJ5ggweEg8KLwh/5OdNfIbbqPvHl2HDGZDFEXvr/CbDMJjkMXzTCjlycDDJpxl8+vGZmG9IxdwAJEGxT0qe5Kz4v/lonifwJ5wRH+Wllapeh70PLweZVJ26QpgGm+8m9aSoh3/XQ5uNBFXf6mNkXFnx9dcurLau/XlCIST5uZdTg8c0PSf8WCp7Y/NCuxCVsIY2xrpbV+woKCwv2rW7piiWO4KskDbmcCIbGz2uiLIolif+rwI9qYIBsTTxGzsdggF98+3slLeW0ELT5EH8wEIuhsrbybTP/eyFJS8f22lRI47sXI8h8v4SXDWSX7LXJ1Klt64Qd0Ns/ckcnfaYfa+/2w8F+cSns6NS2wfn+keWd9IfYlJjXeY73jP1PcFTyCoqQLRQJc1P7+GkQ5CdvyviJoBLk+3lFd24sJ/WnJPU6Wpc8QwO4k4+xaOJDYtL39kOEa7JteePsYKzQjwq+72sPbUGVx+ZVvf2Nfv2gMB4fPhcbPSgc/g6nh+K+4OzG5W336daAophuil0/OLD/7ero+PnrUcmDJf0siv+HwbigviuPIfy8vSdxmDRBEbIfGkgeSrIo3mJDAyxKf61F+0RXYU1BQU3h8Lt6t1/MGh3DsFcWJjOGLAz1svXQq64MXxbCzWH8yvz5i8uCLLD1Izm/YF8N36mqd4aH9ujdIbZpFLusGsdw8AzXl4dxy0t9NtyN2oK43AcDrPrJpgqY4de0wU8+OfXj/dJF7eObb35Oez1hJB9BwW+OnxzXR7d0P5Ys+r89/J8hp36+HAoHnLwawuDID+1t3syMUtz9+qpoEHvOakdhDbQvIw2t7U+3inu1Y7c3VTcqJu0Yhj+4hTiKFrVXHzkl7h3x0rcgcMvdd+9vaRk5m/glyezcVBt0BxOvwV54v6xsn6fspty3R/fZb+CczEImRyrC2muEIN5B9kMQfKKd7DmYeEmrSFwiP0os+xYa502Slpj7am3i9Qti7QUxjVxK/A3ZP5Iz8ntyLHGLaPyolSqXfzeqr27knYcVF3f1EqrafGqViH7OHR539A43iYRZ2RLXP6/o+PG6r3h/ePP6BWUOBrJ4EW7TfpruqSn7Crz8nq8KyE0rN2+eSzyvTV2+au3yWUzW7hhJDLlDqhtIKq50S93CYp59ENGX58cFLnkAqYb0g0dcatAf+BFeGJczbi9c6PgaF6kiqq5wxeGikisfa5nTPWKm1D2oHXplbVe5Pey4r3LL8x2b/re38+j25uIlt7kNBolItuArz3zzmV1dlYsthhmucKCqKesemzioDUILfBdaBmn3K9qhQc+qRf/ln7Pr/b71v9w2966HdtZ0fNtj9uROkVyOyju/+cb3Hzl8YXmlb8OK3MD89Y23zNZWL+xqhr9/9xVkgOML/P9DvIH4spAl+IQqYYXwVWF7cpcbDCfXb37psVSW/HxtjThxkiUg2xzMqa/1uILipP0+KZXAunA5dY12RUITuxTnZ3axYDXGF5tPMmGc8dOcnI6SW0OVMwMz/JkOWW5csGip2qEWATnS0GWUy+6OwrapmaaMtOkOFxTkRqYBJRL1u7LBk70m1eGEAnfEjesTE5Mdq7Ps1+rwTr287cK8/zl8Mv1PfyTOXniJJAhQszV3emjOgrrbV/SXzjaIwJfwF2jTrfNbQ0yLyS/IdpPHEV1Uv/SBjvpbDQZcVhfdurK5s72x8XP0NLdCGzUr2iPaTkhcBuH/ALHTkHZ4nGNgZGBgAGKh2LBD8fw2Xxm42RlA4Gn3jfXINEc/WJyDgQlEAQAgxgnRAHicY2BkYGBnAAGOPgaG//85+hkYGVCBPgBGJwNkAAAAeJxjYGBgYB/EmKMPwWa7gSoHAJKmAqkAAAAAAAAOAGgAfgDMAOABAgFCAWwBmAHuAi4CigLQAvwDYgOMA6gD4AQwBLAE2gUIBVoFwAYIBi4GcAceB94JMAneCqAL9Aw6DFAMZgySDO4NIA1SDXYNvA3qDiAOjg9ceJxjYGRgYNBn+MDAzgACTEDMBYQMDP/BfAYAJVACPQB4nF2QTWqDQBiGXxOT0AihUNpVKbNqFwXzs8wBEsgygUCXRkdjUEd0EkhP0BP0BD1FD1B6rL7K140zMPN8z7zzDQrgFj9w0AwHo3ZtRo88Eu6TJsIu+V54AA+PwkP6F+ExXuELe7jDGzs47g3NBJlwj/wu3Cd/CLvkT+EBHvAlPKT/Fh5jj19hD8/O0z6NtNnstjo5Z0El1f+mqzo1hZr7MzFrXegqsDpSh6uqL8nC2ljFlcnVyhRWZ5lRZWVOOrT+0dpyOZ3G4v3Q5Hw7RQQNgw122JISnPldAarOWbfSTNR0BgUU5vxHs05mTSraXADLPWLugCvXGhe+s6C1iFnHzBjkpFXbr0lnnIambM9ONCG9j2N7q8QSU864k/eZYqc/kzdX5gAAAHicbZF5U9swEMX9QuLYSQMEWo7eB0cvFTMMH0iR17EGWXJ1EPj2KE7cKTPsH9rfW61mdp+SQbKJefJyXGGAHQwxQooxMuSYYIpXmGEXe9jHHAc4xGu8wRGOcYJTvMU7vMcHfMQnfMYXfMU3nOEcF7jEd/zAT/zCbzD8wRWKZNgq/jhdH0xIKxSNWh4cTe+NCg2xJniabFmZVY+NLPuOWi7r/Soo5YQl0oy0J7v3f+FB+rFrpdZkcxcWXnpFLhO89dJoN6jLTNRRkHXT0qy0MryUejmrpCLWFw6eqQia5s9LpqpGruaWdoRZpu5viJhuVtrdJGaCV1LT4VZ2E223TgXXglRqqSXu1yk6km0Su823cF30dFPklbErbkt2O+npuviHN8WIh1KaXNODZ9JTM2st3UsTXKfGrg5VpWgouPMnrRQ+2PVErMfOxuOXLqKdWcUFLYy5y+I+dxTtGvuV9PFF6kOzUDaPdkdFzs+7MVhJ8Tdk53iSPAHLbbuE) format("woff");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-play {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-play:before {
    content: "\f101"; }

.vjs-icon-play-circle {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-play-circle:before {
    content: "\f102"; }

.vjs-icon-pause {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-pause:before {
    content: "\f103"; }

.vjs-icon-volume-mute {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-volume-mute:before {
    content: "\f104"; }

.vjs-icon-volume-low {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-volume-low:before {
    content: "\f105"; }

.vjs-icon-volume-mid {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-volume-mid:before {
    content: "\f106"; }

.vjs-icon-volume-high {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-volume-high:before {
    content: "\f107"; }

.vjs-icon-fullscreen-enter {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-fullscreen-enter:before {
    content: "\f108"; }

.vjs-icon-fullscreen-exit {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-fullscreen-exit:before {
    content: "\f109"; }

.vjs-icon-spinner {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-spinner:before {
    content: "\f10a"; }

.vjs-icon-subtitles {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-subtitles:before {
    content: "\f10b"; }

.vjs-icon-captions {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-captions:before {
    content: "\f10c"; }

.vjs-icon-hd {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-hd:before {
    content: "\f10d"; }

.vjs-icon-chapters {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-chapters:before {
    content: "\f10e"; }

.vjs-icon-downloading {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-downloading:before {
    content: "\f10f"; }

.vjs-icon-file-download {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-file-download:before {
    content: "\f110"; }

.vjs-icon-file-download-done {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-file-download-done:before {
    content: "\f111"; }

.vjs-icon-file-download-off {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-file-download-off:before {
    content: "\f112"; }

.vjs-icon-share {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-share:before {
    content: "\f113"; }

.vjs-icon-cog {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-cog:before {
    content: "\f114"; }

.vjs-icon-square {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-square:before {
    content: "\f115"; }

.vjs-icon-circle {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-circle:before {
    content: "\f116"; }

.vjs-icon-circle-outline {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-circle-outline:before {
    content: "\f117"; }

.vjs-icon-circle-inner-circle {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-circle-inner-circle:before {
    content: "\f118"; }

.vjs-icon-cancel {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-cancel:before {
    content: "\f119"; }

.vjs-icon-repeat {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-repeat:before {
    content: "\f11a"; }

.vjs-icon-replay {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay:before {
    content: "\f11b"; }

.vjs-icon-replay-5 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-5:before {
    content: "\f11c"; }

.vjs-icon-replay-10 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-10:before {
    content: "\f11d"; }

.vjs-icon-replay-30 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-30:before {
    content: "\f11e"; }

.vjs-icon-forward-5 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-5:before {
    content: "\f11f"; }

.vjs-icon-forward-10 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-10:before {
    content: "\f120"; }

.vjs-icon-forward-30 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-30:before {
    content: "\f121"; }

.vjs-icon-audio {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-audio:before {
    content: "\f122"; }

.vjs-icon-next-item {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-next-item:before {
    content: "\f123"; }

.vjs-icon-previous-item {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-previous-item:before {
    content: "\f124"; }

.vjs-icon-shuffle {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-shuffle:before {
    content: "\f125"; }

.vjs-icon-cast {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-cast:before {
    content: "\f126"; }

.vjs-icon-picture-in-picture-enter {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-picture-in-picture-enter:before {
    content: "\f127"; }

.vjs-icon-picture-in-picture-exit {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-picture-in-picture-exit:before {
    content: "\f128"; }

.vjs-icon-facebook {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-facebook:before {
    content: "\f129"; }

.vjs-icon-linkedin {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-linkedin:before {
    content: "\f12a"; }

.vjs-icon-twitter {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-twitter:before {
    content: "\f12b"; }

.vjs-icon-tumblr {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-tumblr:before {
    content: "\f12c"; }

.vjs-icon-pinterest {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-pinterest:before {
    content: "\f12d"; }

.vjs-icon-audio-description {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-audio-description:before {
    content: "\f12e"; }
