// https://github.com/sass/sass/issues/659#issuecomment-64819075
@function char($character-code) {
  @if function-exists("selector-append") {
    @return unquote("\"\\#{$character-code}\"");
  }

  @return str-slice("\x", 1, 1) + $character-code;
}

$icon-font-family: KrakenOverrides;

@font-face {
  font-family: $icon-font-family;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAARoAAsAAAAAB0QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAPAAAAFY6l0c+Y21hcAAAAYAAAABRAAABfrVI9apnbHlmAAAB1AAAAKoAAAEgS0hCnWhlYWQAAAKAAAAALgAAADYqXmNRaGhlYQAAArAAAAAYAAAAJABZADRobXR4AAACyAAAAAwAAAAMAGAAAGxvY2EAAALUAAAACAAAAAgARgCQbWF4cAAAAtwAAAAfAAAAIAERAD1uYW1lAAAC/AAAAT8AAAJqXex7cXBvc3QAAAQ8AAAAKgAAAECXwNySeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGRQYJzAwMrAwCDHoAgk2aC0OAMTAw8DkGBlZsAKAtJcUxgcPjJ+ZGIwAHJZwCQDAyOIAADAcAVUeJztkLENgDAMBM+OoUCMQUHBMFTsvwITJG+HMXjpTvqXKwML0MQlAuzByNxarfbGVntw1E3k/nrvsqXVo+zSyp+9fH7N80+T+bkJPgDn9guZAAAAeJxlzsEKgzAMBuCkrU3owZNad3FgYW4X2dTSm+//WEsrsoEpJIf+8H9gIM8TZuhhKBdSJB+XAZsaxxljaAZcdtxmpBApJt+0FKaYVk/bZyLfO6et1tZabQwzy7JKGUaNqBTKe7BzXAISNHykOpLvKkfyQqwQfpYb3OEFb7Ec5YIomG3HtU1TO9boL5ggmMgH4WxzTvrqP46M6orBnOqsM+wunsz5Aq5mEGgAAHicY2BkYGAA4qSl6anx/DZfGbgZDIAiDE97hH4j0wwaDHpAkoOBCcQBABlkCQwAAHicY2BkYGAwYGCAkxoMjAyogBkADdMAjgAAAAAAMAAAADAAAAAAAAAARgCQeJxjYGRgYGBmMGRgYQABJiDmAkIGhv9gPgMADcABTwB4nIWRTWrDMBCFn/NXGkNbKHQZtGkpFJwfusqmu2QRaCCL7J1Ydn4cy8iKIZueoCfpCXqCHqEn6QH6rGrlRaMB6Zs3b0YCAbjBFzxUy8O13avVwAWzP26S7hy3yPeO2/Dx7LhD/cVxF094dezjFidO8FqXVHp4d9zAFT4cN6l/Om6Rvx23eeuP4w56XtdxF0vv0bGPB+9tpsO9zOal1HobyWIhk2Ma6ppaS5dSF1uViWEwqFWmMpM6NDISq5MoymRkTCxirQ5iojIj01SJXKudXJtgY0w+7vdjpwdrdcAMGiH2kMgwR8lTM7aISAUW3BMckdKjz3j/ry5tXjBXrAsMEWBwpmdqdWk9hmfEvhX/R7BW8l0jqgYx85gehQNpYudX7pShqOS2tqOyph5gY7tyjNFnxDV/QBcn/QLRw3TQAHicY2BiwA+YGZkYmRlZGDiLUgtyEit1DQ240vKLyhOLUoBMBgYAWpUGwwAA) format('woff');
  font-weight: normal;
  font-style: normal;
}

// https://sass-lang.com/documentation/values/maps
$icons: (
    replay-10: 'f101',
    forward-10: 'f102',
);

// NOTE: This is as complex as we want to get with SCSS functionality.
//
// Now that we have a map of icons above, we can iterate over that map and create an icon class
// for each icon in that list. The iterator below produces CSS classes like this:
//
// .vjs-icon-play {
//   font-family: VideoJS;
//   font-weight: normal;
//   font-style: normal;
// }
// .vjs-icon-play:before { content: "\f101"; }
//
// We can then use @extend in the codebase when we need to add an icon to a class. @extend builds up
// the selectors for you so you can avoid duplication. This is generally a bad idea, but since each
// icon should only be extended one or two other places, we'll roll with it.
@each $name, $content in $icons {
  .vjs-icon-#{$name} {
    font-family: $icon-font-family;
    font-weight: normal;
    font-style: normal;

    &:before {
      content: char($content);
    }
  }
}
